@{
    ViewBag.Title = "HaroldAdviser";
    Layout = "_Layout";
}

<div class="row pt-5 justify-content-md-center">
    <div class="col-12 col-md-8 d-block text-center">
        <a href="@Url.Action("ShowRepositories", "User")" class="btn btn-success" role="button">
            Show Repositories
        </a>
        <a href="@Url.Action("SyncRepositories", "User")" class="btn btn-success" role="button">
            Sync Repositories
        </a>
        <a href="@Url.Action("GetLogs", "Test")" class="btn btn-success" role="button">
            Get Logs
        </a>
        <a href="@Url.Action("GetPipelineAsync", "Test")" class="btn btn-success" role="button">
            Get Pipeline
        </a>
    </div>
</div>