@{
    ViewBag.Title = "Hello there!";
    Layout = "_Layout";
}

<main role="main">
    <div class="container position-relative pt-5">
        <div class="row pt-5 justify-content-md-center">
            <div class="col-12 col-md-8 d-block text-center">
                <h2>Hello There!</h2>
            </div>
            <div class="col-12 col-md-8 d-block text-center">
                <p>General Kenobi!</p>
            </div>
            <div class="col-12 col-md-8 d-block text-center">
                <a id="" href="@Url.Action("CreateInstance", "User")" class="btn btn-success" role="button">
                    Create Instance
                </a>
            </div>
            <div class="col-12 col-md-8 d-block text-center">
                <a id="" href="@Url.Action("DropInstance", "User")" class="btn btn-success" role="button">
                    Drop Instance
                </a>
            </div>
        </div>
    </div>
</main>