
@{
    Layout = "_Layout";
}

<main role="main">
    <div class="container position-relative pt-5">
        <div class="row pt-5 justify-content-md-center">
            <div class="col-12 col-md-8 d-block text-center">
                <a id="sign-in" href="@Url.Action("SyncRepositories", "User")" class="btn btn-success" role="button">
                    Sync Repositories
                </a>
            </div>
        </div>
    </div>
</main>
